In [ ]:
%cd ..

/home/jupyter/Azure_repo/template-mlops

# MAIN PROCESS

In [ ]:
#==== Importing necessary libraries ====#
import pandas as pd
from sklearn.datasets import load_iris
from src.utils import preprocess_data, train_model, evaluate_model, get_metrics

#==== Loading the Iris dataset ====#
iris = load_iris()
data = pd.DataFrame(data=iris['data'], columns=iris['feature_names'])
data['target'] = iris['target']
# Define a mapping dictionary for the columns
column_mapping = {
    'sepal length (cm)': 'sepal_length_cm',
    'sepal width (cm)': 'sepal_width_cm',
    'petal length (cm)': 'petal_length_cm',
    'petal width (cm)': 'petal_width_cm',
}

# Rename the columns using the mapping
data.rename(columns=column_mapping, inplace=True)

#==== Preprocessing the data ====#
train_df, test_df, scaler = preprocess_data(data)

#==== Training the model ====#
# Separating features and target for training
X_train = train_df.drop(columns=['target'])
y_train = train_df['target']

model = train_model(X_train, y_train)

#==== Evaluating the model ====#
X_test = test_df.drop(columns=['target'])
y_test = test_df['target']
predictions = model.predict(X_test)

#==== Getting metrics ====#
logs, conf_matrix = get_metrics(y_test, predictions)
print("Evaluation Metrics:")
for key, value in logs.items():
    print(f"{key}: {value}")

Evaluation Metrics:
precision: 1.0
recall: 1.0
f1: 1.0

In [ ]:
columns = list(data.columns)

In [ ]:
columns[:-1]

['sepal_length_cm', 'sepal_width_cm', 'petal_length_cm', 'petal_width_cm']

In [ ]:
columns[-1]

'target'

In [ ]:
target_classes = sorted(y_train.unique())

In [ ]:
type(target_classes)

list

In [ ]:
random_sample = data.sample(n=min(100, len(data)), random_state=42) # The random_state ensures reproducibility

In [ ]:
random_sample

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
73,6.1,2.8,4.7,1.2,1
18,5.7,3.8,1.7,0.3,0
118,7.7,2.6,6.9,2.3,2
78,6.0,2.9,4.5,1.5,1
76,6.8,2.8,4.8,1.4,1
...,...,...,...,...,...
89,5.5,2.5,4.0,1.3,1
8,4.4,2.9,1.4,0.2,0
13,4.3,3.0,1.1,0.1,0
119,6.0,2.2,5.0,1.5,2
125,7.2,3.2,6.0,1.8,2